* {
    box-sizing: border-box;
}

body {
    margin:0;
}
.a {
    display:block;
    position:absolute;
    margin: .5%;
    width: 15%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration:solid;
    font-size: larger;
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
    text-emphasis-style:inherit;
    text-align: bottom;

}
.b {
    display: flex;
    position:sticky;
    margin: 1%;
    float: left;
    width: 23%;
    height: 900px;
    background-color: lightgrey;
    box-shadow: 3px 3px 10px;
    z-index: 1;
    
}
.c {
   display: initial;
   width: 1000px;
   height: 900px;
   background-color: rgb(189, 179, 179);
   position: relative;
}

.fixed-header {
    width: 100%;
    position: absolute;        
    background: #333;
    padding: 10px 0;
    color: #fff;
}
.fixed-header{
    top: 0;
    height: 100px;
}
.container{
    width: 80%;
    margin: 0 auto; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-indent: 10px;
}
.container1{
    width: 80%;
    margin: 0 auto; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;


}

.photos {
    display:flex;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: stretch;
    }
  .grid img {
    border: 1px solid #ccc;
    max-width: 100%;
  }


  figure {
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: rgb(0, 70, 0);
    text-indent: 0;
    margin: 0.2em;
    padding: 0.2em;
  }


  #banner {
    position:absolute;
    display: flex;
    top: -10px;
    left: 10px;
    width: 100px;
    height: 100px;
    z-index: 2;
    opacity: .5 ;
  }



  .search-container {
    position: absolute;
    left: 400px;
  }